<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="header">
      <a class="hero" href="/">MIE-TECH</a>

      <%- include('./partials/nav.ejs') %>
    </div>

    <h1>OOPS! - 404</h1>
    <p>that page cannot be found</p>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
