<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="header">
      <a class="hero" href="/">MIE-TECH</a>

      <%- include('./partials/nav.ejs') %>
    </div>
    <h2>About</h2>
    <p>woohoo! i'm turning into a backend developer</p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam delectus
      ea iste sequi voluptas quod
    </p>
    <p>
      ZKG6cF7pBWdJhByw Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Numquam delectus ea iste sequi voluptas quod
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam delectus
      ea iste sequi voluptas quod
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam delectus
      ea iste sequi voluptas quod
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam delectus
      ea iste sequi voluptas quod
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam delectus
      ea iste sequi voluptas quod
    </p>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
